.nav_root {
     background-color: #53d3e5;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     text-transform: uppercase;
     list-style-type: none;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 1.1em;
     font-weight: 700;
     width: 100%;
     height: auto;
     padding: 1em;
    border-bottom: 2px solid #e5c553; }
     .nav_root li {
       border-right: 1px dashed #f1f1f1;
       padding: .25em .5em; }
       .nav_root li:last-child {
         border: none; }
     .nav_root a {
       color: #e55753;
       text-decoration: none;
       padding: 4px;
       margin: .25em; }
       .nav_root a:hover {
         color: #fff;
       }